/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 19, 2016, 10:11:03 AM
    Author     : benzro
*/

.header_image {
    margin: 15px 40px 15px 40px;    
    padding-top: 20px;
    padding-bottom: 2px;
    height: 230px;
    background-image: url("./images/Caumasee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /*100% OR to crop: "cover"*/
    /*border: darkorange  solid thick;/*debugging*/
    
}
.background_image {
    margin: 15px 40px 15px 40px;
    height: 200px;  
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: url("./images/Küste.jpg");
    background-repeat: no-repeat;
    background-position: center;    
    background-size:100%; /*100% OR to crop: "cover"*/
    background-attachment: fixed;   
}

